/* GENERAL */
body {
	color:#fff;
	background:$brand-dark;
	font-size:100%;
	font-family: 'Open Sans', sans-serif;
}
a {
	color: $linkColor;
	text-decoration:none;
}
a:hover {
	color: $linkHoverColor;
}
nav, ul {
	margin:0;
	padding:0;
	list-style-type:none;
}
::-moz-selection {
    background: $selectionColor;
    text-shadow: none;
}
::selection {
    background: $selectionColor;
    text-shadow: none;
}

.wrapper {
	width:92%;
	margin:0 auto;
	@include microclearfix;
	@include bp(tablet) {
		width:96%;
	}
	@include bp(desktop) {
		width:960px;
	}
}

/* HEADINGS / TYPOGRAPHY */
h1, h2, h3, h4 {
	font-weight: normal;
	margin: 0 0 10px 0;
}
h1 {
font-size:em(100)
}
h2 { }
h3 { }
h4.widgettitle { }


/* STRUCTURE */
.topbar {
	width:100%;
	min-height:em(55);
	display:block;
	padding:em(12) 0 em(14) 0;
	background:#000;

}
header {
	width:100%;
	min-height:em(116);
	display:block;
	background:$brand-dark;
}

.container {
	width:100%;
	background:#000;
}

.wall {
	width:100%;
	margin:0 auto;
	@include microclearfix;
	@include bp(desktoplarge) {
		width:1600px;
	}
}
article {
	float: left;
	width:100%;
	min-height:em(160);
	background:$brand-dark;
	margin:2px 0;
	padding: 1%;
	@include bp(phone) {
		width:49.4%;
		margin:2px 0.1%;
	}
	@include bp(tablet) {
		width:49.4%;
		margin:2px 0.3%;
	}
	@include bp(midway) {
		width:33.13333333333333%;
		margin:2px 0.1%;
	}
	@media only screen 
	and (min-device-width : 768px) 
	and (max-device-width : 1024px) 
	and (orientation : landscape) {
		width:32.73333333333333%;
		margin:2px 0.3%;
	}
	@include bp(desktop) {
		width: 24.8%;
		margin:2px 0.1%;
	}
}


.social-media {
	width:100%;
	min-height:em(45);
	display:inline-block;
	background:#000;
}

/* SIDEBAR */
aside { }

/* FOOTER */
footer { 
	width:100%;
	min-height:em(45);
	display:inline-block;
	background:$brand-dark;
}

/****************************************
PAGE TEMPLATES
*****************************************/

/* Home Page */
.home { }

/* Blog Page */
.blog { }
