/* GENERAL */
body {
	color:#fff;
	background:$brand-dark;
	font-size:100%;
	font-family: 'Open Sans', sans-serif;
}
a {
	color: $linkColor;
	text-decoration:none;
}
a:hover {
	color: $linkHoverColor;
}
nav, ul {
	margin:0;
	padding:0;
	list-style-type:none;
}
::-moz-selection {
    background: $selectionColor;
    text-shadow: none;
}
::selection {
    background: $selectionColor;
    text-shadow: none;
}
img {
	max-width:100%;
}

.wrapper {
	width:92%;
	margin:0 auto;
	@include microclearfix;
	@include bp(tablet) {
		width:96%;
	}
	@include bp(desktop) {
		width:960px;
	}
}

/* HEADINGS / TYPOGRAPHY */
h1, h2, h3, h4 {
	font-size:em(16);
	font-weight: normal;
	margin: 0 0 10px 0;
}
h1 {

}
h2 { }
h3 { }
h4.widgettitle { }
p {
	margin:0;
	padding:0;
	line-height:20px;
}

/* Buttons */
.red-btn {
	color:#fff;
	font-size:em(14);
	text-transform:uppercase;
	background:$brand-red;
	padding:em(6) em(8);
	&.thinner {
		padding:em(4) em(8);
	}
}


/* STRUCTURE */
.topbar {
	width:100%;
	min-height:em(55);
	display:block;
	padding:em(60) 0 em(14) 0;
	background:#000;
	@include bp(tablet) {
		padding-top:em(12);
	}
	img {
		width:100px;
		height:22px;
		margin-top:em(8);
		@include bp(tablet) {
			width:auto;
			height:auto;
		}
	}
}
header {
	width:100%;
	display:block;
	background:$brand-dark;
	h1 {
		float:left;
		color:$brand-light;
		font-size:em(18);
		font-weight:600;
		padding:0 em(10);
		border-right:2px solid $brand-red;
		border-left:2px solid $brand-red;
		word-break:break-all;
		margin:em(16) 0;
		display:none;
		visibility:hidden;
		@include bp(tablet) {
			display:block;
			visibility:visible;
		}
	}
}
.world {
	float:right;
	width:100%;
	min-height:em(116);
	display:block;
	background:url(#{$assetPath}/the-world.svg) no-repeat bottom right;
	background-size:247px 61px;
	@include bp(tablet) {
		background-size:447px 105px;
	}
	h2, h3 {
		display:inline-block;
		font-size:em(18);
		margin:0 0 0 em(10);	
		text-transform:uppercase;
	}
	h2 {
		color:$brand-light;
		
		margin-top:em(18);
	}
	h3 {
		color:#fff;
	}
}

.container {
	width:100%;
	background:#000;
}

.wall {
	width:100%;
	margin:0 auto;
	@include microclearfix;
	@include bp(desktoplarge) {
		width:1600px;
	}
}
.home article,
.page-template-archive-winner-php article {
	overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
	cursor:pointer;
	float: left;
	width:100%;
	/*min-height:em(200);*/
	background:$brand-dark;
	margin:2px 0;
	padding:0;
	@include bp(phone) {
		width:49.4%;
		/*min-height:em(149);*/
		margin:2px 0.1%;
	}
	@include bp(tablet) {
		width:49.4%;
		margin:2px 0.3%;
		/*min-height:em(237);*/
	}
	@include bp(midway) {
		width:33.13333333333333%;
		margin:2px 0.1%;
		/*min-height:em(166);*/
	}
	
	@include bp(desktop) {
		width: 24.8%;
		margin:2px 0.1%;
		/*min-height:em(155);*/
	}
	@include bp(desktoplarge) {
		/*min-height:em(246);*/
	}
}

/*   Pop box  */
.home article,
.page-template-archive-winner-php article {
	.mask {
		width:100%;
		height:100%;
		position: absolute;
		overflow: hidden;
		top: 0;
		left: 0;
		z-index:200;
		@include transition (all 0.3s ease-in);
		.absolute-center {
			@include vertical-align;
		}
	}
	h1, a {
		position:absolute;
		top:0;
		left:0;
		z-index:100;
	}
	h1 {
		font-size:em(20);
		line-height:26px;
		text-align:left;
		top:em(22);
		left:18px;
		text-transform:uppercase;
		z-index:200;
	}
	.red-btn {
		top:em(127);
		left:18px;
		z-index:200;
	}
}
.home article.first,
.page-template-archive-winner-php article.first {
	display:none;
	visibility:hidden;
	@include bp(tablet) {
		display:block;
		visibility:visible;
	}
}
.home article .no-mask.textcontent,
.page-template-archive-winner-php article .no-mask.textcontent {
	h1 {
		position:absolute;
		top:8px;
		float:left;
		margin-top:0;
		font-size:em(18);
		line-height:24px;
		color:$brand-light;
		font-weight:600;
		padding:0 em(10);
		border-left:2px solid $brand-red;
		word-break:break-all;
		@include bp(tablet) {
			font-size:em(30);
			line-height:36px;
			margin-top:em(12);
		}
		@include bp(desktop) {
			margin-top:em(10);
		}
		@include bp(desktoplarge) {
			top:3px;
			font-size:em(37);
			line-height:43px;
			min-height:172px;
		}
	}
	img.bottomr {
		position:absolute;
		top:auto;
		left:auto;
		right:0;
		bottom:0 ;
		margin:0;
		padding:0;
		width:60%;
		@include bp(desktop) {
			width:50%;
		}
		@include bp(desktoplarge) {
			width:auto;
		}
		&.extra {
			width:50%;
			@include bp(desktop) {
				width:auto;
				right:em(43);
				bottom:em(18);
			}
		}
	}
	&.first h1 {
		top:em(9);
		@include bp(desktop) {
			top:em(15);
		}
	}
}

.home article .no-mask.textcontent.first h1,
.page-template-archive-winner-php article .no-mask.textcontent.first h1 {
	top:25px;
	font-size:em(30);
	line-height:36px;
	@include bp(phone) {
		font-size:em(18);
		line-height:24px;
	}
	@include bp(tablet) {
		font-size:em(30);
		line-height:36px;
	}
	@include bp(desktop) {
		top:8px;
		font-size:em(18);
		line-height:24px;
	}
	@include bp(desktoplarge) {
		top:3px;
		font-size:em(37);
		line-height:43px;
	}
}


.home article .mask p,
.page-template-archive-winner-php article .mask p {
	font-size:em(30);
	text-transform:uppercase;
    transform: translateY(-100px);
    opacity: 0;
	@include transition (all 0.2s ease-in-out);
}
.home article:hover .mask,
.home article:target .mask,
.page-template-archive-winner-php article:target .mask, 
.page-template-archive-winner-php article:hover .mask {
	opacity: 1;
	@include transform(translateY(0px));
	background:$brand-red;
	a .absolute-center p {
		opacity:1;
		@include transform(translateY(0px));
	}
	a {
		width:100%;
		height:100%;
		display:block;
		&:hover   {
			color:#fff;
		}
	}
}
.home article:hover .no-mask,
.home article:target .no-mask,
.page-template-archive-winner-php article:target .no-mask,
.page-template-archive-winner-php article:hover .no-mask {
	opacity:0;
}


/*  Share this */
.sharethisbar {
	float:right;
	width:100%;
	text-align:right;
	margin:em(20) 0 em(17) 0;
}
.stButton .stButton_gradient {
	height: 24px !important;
	margin-bottom:5px;
}
.stButton .stFb, .stButton .stTwbutton, .stButton .stMainServices {
	height: 24px !important;
	margin-bottom:5px;
}

/* Content pages */
.head {
	margin:0 0 em(10) 0;
	padding:em(10) em(12);
	background:$brand-dark;
	h1 {
		color:$brand-light;
		font-size:em(26);
		font-weight:600;
		padding:0 em(16) em(8) em(11);
		margin:0;
		text-transform:uppercase;
		border-left:2px solid $brand-red;
	}
}
.head-winner {
	position:relative;
	min-height:161px;
	margin-bottom:em(20);
	background-color:$brand-dark;
	img {
		position:absolute;
		bottom:0;
		
		display:block;
	}
	.content-holder {
		position:absolute;
		bottom:0;
		left:em(23);
		width:65%;
		@include bp(desktop) {
			top:em(5);
			bottom:auto;
			width:50%;
		}
		p {
			font-size:em(16);
			font-weight:600;
			margin-bottom:0;
		}
		h2 {
			color:#fff;
			font-size:em(16);
			font-weight:600;
			margin-bottom:0;
			@include bp(desktop) {
				font-size:em(20);
			}
		}
		h1{
			color:$text-light;
			font-size:em(20);
			font-weight:600;
			@include bp(desktop) {
				font-size:em(30);
			}
		}
	}
}

.page main,
.archive main,
.single main  {
	background:#fff;
}

.single-winner main {
	padding-bottom:em(30);
}

section {
	float:left;
	width:100%;
	@include bp(tablet) {
		width:64.58333333333333%; /*  620 / 960*/
	}
	h1 {
		color:#000;
		font-size:em(30);
		font-weight:600;
		margin:0 0 em(3) 0;
		text-transform:uppercase;
	}
	p {
		color:$body-text;
		font-size:em(14);
		line-height:25px;
		margin-bottom:em(20);
		&:first-of-type {
			font-size:em(22);
			line-height:30px;
			color:$text-light;
		}
	}
	h2 {
		clear:left;
		font-size:em(22);
		color:#000;
	}
}
.page main .downloads {
	padding:em(8) 0 0 0;
	background:$brand-red;
	margin-top:em(20);
	margin-bottom:em(20);
	h2, p {
		color:#fff;
		padding:0 em(12);
	}
	h2 {
		font-size:em(20);
		font-weight:600;
		margin-bottom:em(5);
	}
	p {
		font-size:em(14);
		line-height:20px;
		padding:0 em(16);
		margin-bottom:em(13);
	}
	a {
		width:100%;
		display:block;
		color:$brand-light;
		font-size:em(16);
		padding:em(14) em(16) em(14) em(33);
		background:#19202d url(#{$assetPath}/download-arrow.svg) no-repeat 12px center;	
	}
}

aside {
	float:left;
	width:100%;
	@include bp(tablet) {
		float:right;
		width:31.25%; /*  300 / 960*/
	}
}

aside .steps-bx {
	padding:em(9) em(10) em(9) em(10);
	background:$brand-red;
	h2 {
		color:#fff;
		font-size:em(20);
		font-weight:600;
		margin-bottom:em(8);
		text-transform:uppercase;
	}
	 dl { 
	 	padding:0;
		dt { 
			float: left; 
			clear: left; 
			color:$brand-red;
			width:22px; 
			min-height:22px;
			line-height:22px;
			text-align:center; 
			font-size:em(14);
			font-weight: 700; 
			background:#fff;
			
		}
		dd { 
			font-size:em(16);
			margin: 0 0 em(18) 33px; 
			padding:0;
		}
	}
}
aside .border-bx {
	margin-top:em(20);
	padding:em(10) em(13);
	border:1px solid $brand-three;
	h2 {
		color:$text-light;
		font-size:em(14);
	}
	img {
		display:block;
		margin:0 auto;
	}
	&.twitterxontent {
		padding-bottom:0;
		margin-bottom:em(20);
		h2 {
			color:$brand-dark;
			font-size:em(18);
			font-weight:600;
		}
	}
}
aside .awards-bx {
	margin-top:em(20);
	padding:em(10) em(13) em(20) em(13);
	border:1px solid $brand-three;
	background:$brand-dark url(#{$assetPath}/award-night-side.jpg) no-repeat bottom right;	
	h2 {
		width:50%;
		color:$brand-light;
		font-size:em(20);
		line-height:24px;
		@include bp(tablet) {
			width:40%;
			font-size:em(18);
			line-height:22px;
		}
		@include bp(tdesktop) {
			width:40%;
			font-size:em(20);
			line-height:24px;
		}
	}
}

aside > div:first-of-type {
	margin-top:0 !important;
}

/*  The awards night */
.page-id-16 section {
	p {
		color:$body-text;
		font-size:em(14);
		line-height:25px;
		margin-bottom:em(20);
		&:first-of-type {
			font-size:em(22);
			line-height:30px;
			color:$text-light;
		}
	}
	h2 {
		clear:left;
		font-size:em(22);
		color:#000;
	}
}

.page-id-16 section .booking-block {
	position:relative;
	width:100%;
	display:inline-block;
	padding:em(14) em(14) em(44) em(14);
	background:$brand-light;
	margin-bottom:em(20);
	h2, h3 {
		font-size:em(20);
		font-weight:600;
		margin-bottom:0;
	}
	h3 {
		color:$brand-dark;
		margin-bottom:em(12);
	}
	p {
		color:#fff;
		font-size:em(18);
		margin-bottom:em(4);
		@include bp(desktop) {
			font-size:em(20);
		}
		span {
			color:$brand-dark;
			font-size:em(18);
			font-weight:700;
			@include bp(desktop) {
				font-size:em(20);
			}
		}
	}
}

.seealso {
	width:100%;
	display:inline-block;
	background:url(#{$assetPath}/borderbottom.svg) repeat-x top left;
	padding-top:em(16);
	margin-top:em(20);
	margin-bottom:em(20);
	h3 {
		color:#000;
		font-size:em(22);
		font-weight:600;
	}
	ul li {
		display:block;
		a {
			color:$brand-dark;
			font-size:em(18);
			display:block;
			padding-left:em(25);
			background:url(#{$assetPath}/square.svg) no-repeat center left;
			&:hover {
				text-decoration:underline;
			}
		}
	}
}


/* Social media bar */
.social-media {
	width:100%;
	min-height:em(45);
	padding:em(30) 0 em(25) 0;
	display:inline-block;
	background:#000;
}

.social-icons {
	li {
		display:inline-block;
		a {
			width:29px;
			height:29px;
			display:block;
			margin-right:em(10);
			&.facebook {
				background:url(#{$assetPath}/facebook-icon.svg) no-repeat center left;	
			}
			&.linkedin {
				background:url(#{$assetPath}/linkedin-icon.svg) no-repeat center left;	
			}
			&.flickr {
				background:url(#{$assetPath}/flickr-icon.svg) no-repeat center left;	
			}
			&.youtube {
				width:35px;
				background:url(#{$assetPath}/youtube-icon.svg) no-repeat center left;	
			}
			&.twitter {
				background:url(#{$assetPath}/twitter-icon.svg) no-repeat center left;	
			}
		}
	}
}

/* SIDEBAR */
aside { }

/* FOOTER */
footer { 
	width:100%;
	min-height:em(45);
	padding:em(18) 0;
	display:inline-block;
	background:$brand-dark;
	ul li a {
		font-size:em(12);
		font-weight:700;
	}
}

.col4 {
	float:left;
	width:100%;
	margin-bottom:em(18);
	@include bp(tablet) {
		width:25%;
	}
}

/****************************************
PAGE TEMPLATES
*****************************************/

/* Home Page */
.home { }

/* Blog Page */
.blog { }
