/* POSTS */
.posts article {
	position:relative; 
	width:100%;
	display:inline-block;
	margin-bottom:em(14);
	padding-bottom:em(23);
	background:url(#{$assetPath}/borderbottom.svg) no-repeat bottom left;
	&:last-of-type {
		background:none;
		padding-bottom:0;
	}
	h1 {
		font-size:em(18);
		line-height:24px;
		font-weight:600;
		text-transform:capitalize;
		margin-bottom:em(13);
		margin-top:0;
	}
	h2 {
		font-size:em(12);
		font-weight:700;
	}
	p {
		color:$brand-dark;
		font-size:em(14);
		line-height:20px;
		margin:0 0  em(3) 0;
		text-align:left;
		@include bp(tablet) {
			overflow: hidden;
		}
	}
	span {
		padding:em(3) em(5);
		margin-left:em(10);
	
	}
}

main .judges article {
	position:relative;
	float:left;
	width:48%;
	margin-bottom:em(20);
	&:nth-of-type(even) {
		margin-left:2%;
	}
	@include bp(tablet) {
		width:22.41935483870968%; /* 139 / 620 */
		margin-right:3.2258064516129%; /* 20 / 620 */
		&:nth-of-type(even) {
			margin-left:0;
		}
		&:nth-of-type(4n+4) {
			margin-right:0;
		}
	}
	img {
		margin-bottom:em(5);
	}
	h2, p, span {
		width:100%;
		display:inline-block;
		margin-bottom:0;
		font-weight:700;
		font-size:em(14);
		line-height:18px;
	}
	h2 {
		color:$text-light;
	}
	p {
		color:$brand-red;
		line-height:14px;
	}
	span {
		color:#000;
		line-height:14px;
	}
}


.page main blockquote,
.single-winner main blockquote {
	width:100%; 
	padding:0;
	margin:0; 
	font-style: italic;
	display:inline-block;
	img {
		float:right;
		margin-top:em(7);
		margin-left:em(10);
	}
	p {
		font-size:em(20);
		margin-bottom:0;
		@include bp(tablet) {
			overflow:hidden;
		}
	}
	span {
		font-style:normal;
		font-size:14px;
		font-weight:700;
		color:$brand-dark;
	}
}


ul, ol { }

.post { }

.sticky { }

.entry { }
.entry a { }
.entry a:hover { }

.entry img { }

.entry .wp-caption { }
.entry .wp-caption img { }
.entry .wp-caption .wp-caption-text { }
.entry .wp-caption.aligncenter { margin: 0 auto; }

img.wp-smiley { padding: 0; border: none; }

.wp-caption-text { }
.gallery-caption { }

.alignleft { float: left; width: auto; margin: 5px 15px 15px 0; }
.alignright { float: right; width: auto; margin: 5px 0 15px 15px; }
.aligncenter { text-align: center; margin-bottom: 5px;}
img.aligncenter { margin-left: auto; margin-right: auto; display: block; }
img.aligntop {
	margin-top:em(21);
}

pre { }
code, tt { }

.meta { }
.postmetadata { }

/* SHARING */

.sharing h4 { margin-bottom: 0; padding-bottom: 0; }
.sharing ul { list-style: none; margin-top: 0; padding-top: 5px; margin-bottom: 0; padding-bottom: 0; }
.sharing li { float: left; }
.sharing li:first-child { padding-left: 0; }
.sharing .share-twitter { padding-top: 1px; }
.sharing .share-facebook { padding-top: 1px; }
.sharing .share-googleplus { margin-left: 30px; }

/* POST NAVIGATION */

.navigation { clear: both; }
.next-posts { float: left; }
.prev-posts { float: right; }
