// Font Face
// @include fontface('FONT_NAME', 'assets/fonts/', 'FONT_FAMILY');

// Text Selection
$selectionColor: orange;

// Links
$linkColor:#fff;
$linkHoverColor: #ce0000;

$brand-dark:#19202d;
$brand-light:#a1bbe1;
$brand-three:#cacaca;
$brand-red:#ce0000;
$light-blue:#00a6df;
$orange:#ff9c3a;
$body-text:#19202d;
$text-light:#787685;

// Path to images
// Use #{$assetPath}/
$assetPath : "assets/images";
