// Font Face
// @include fontface('FONT_NAME', 'assets/fonts/', 'FONT_FAMILY');

// Text Selection
$selectionColor: orange;

// Links
$linkColor: red;
$linkHoverColor: blue;

$brand-dark:#19202d;
$brand-three:#cacaca;

// Other
